<link href="min.css" rel="stylesheet">
<header class="text-gray-600 body-font">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
    <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
      <div class="w-20 h-20 rounded-full inline-flex items-center justify-center">
        <img alt="content" class="object-cover object-center h-half w-half" src="logo2.png">
    </div>
      <span class="ml-3 text-xl">Tiger_Server</span>
    </a>
    <nav class="md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-gray-400	flex flex-wrap items-center text-base justify-center">
      <a class="mr-5 hover:text-gray-900" a href="/">Home</a>
      <a class="mr-5 hover:text-gray-900" a href="/abhi">Download</a>
      <a class="mr-5 hover:text-gray-900" a href="/ihyibobwvojbwobvo">Upload</a>
      <a class="mr-5 hover:text-gray-900">Contact</a>
    </nav>

  </div>
</header>

<form action="/upload" method="post" enctype="multipart/form-data">

  <section class="text-gray-600 body-font">
  
    <div class="container px-9 py-24 mx-auto flex flex-wrap items-center">
      <div class="lg:w-3/5 md:w-1/2 md:pr-16 lg:pr-0 pr-0">
        <div class="sm:w-1/3 text-center sm:pr-8 sm:py-8">
        
            <div class="w-20 h-20 rounded-full inline-flex items-center justify-center bg-gray-200 text-gray-400">
                <img alt="content" class="object-cover object-center h-half w-half" src="logo.jpg">
            </div>
        </div>
        <h1 class="title-font font-medium text-3xl text-gray-900">Welcome To Tiger Server !</h1>
        <p class="leading-relaxed mt-4">Here you can upload your files and download it without Internet.</p>
      </div>
  
      <div class="lg:w-2/6 md:w-1/2 bg-gray-100 rounded-lg p-8 flex flex-col md:ml-auto w-half mt-10 md:mt-0">
        <h2 class="text-gray-900 text-lg font-medium title-font mb-5">Upload</h2>
        <div class="relative mb-4">
          <!-- <label for="full-name" class="leading-7 text-sm text-gray-600">Full Name</label> -->
          <input type="file" id="full-name" name="zrffile" class="w-full bg-white rounded focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
        </div>
        
        <button class="text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg" type="submit">Upload</button>
        <p class="text-xs text-gray-500 mt-3">@abhishek</p>
      </div>
    </div>
  </section>
  </form>
